html{
    font-size: 62.5%;
}

body{
    margin: 0;
    font-family: 'Poppins';
}

.container{
/*  border: 2px solid red; */
    margin: 5vw;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a{
    text-decoration: none;
    color: black;
    font-size: 1.8rem;
}

.nav{
    margin: 4em;
}

nav ul{
    margin: 0;
    display: flex;
    list-style-type: none;
    gap: 4.1em;
    position: relative;
}

nav ul li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 1.6rem;
    position: relative;
}

nav ul li a.active:before{
    position: absolute;
    content: "";
    width: 35%;
    height: 1px;
    border-bottom: 2px solid black;
    bottom: -6px;
}

nav ul li a:before{
    position: absolute;
    content: "";
    width: 0%;
    height: 1px;
    border-bottom: 2px solid gray;
    bottom: -6px;
}

section h3{
				
				font-family: 'Playfair Display';
				font-size: 5.2rem;
				font-weight: normal;
}

section .date{
    font-size: 2.6rem;
    line-height: 165%;
    inline-size: 85%;
}
section p{
    font-size: 3.2rem;
    line-height: 165%;
    inline-size: 85%;
    overflow-wrap: break-word;
}

footer{
    font-size: 1.6rem;
    text-align: center;
}

/* microinteractions */

na ul li a:hover:before{
				width: 35%;
}
